.slider-container {
  overflow: hidden;
  width: 100%;
  position: relative;
  white-space: nowrap;
}

.slider-track {
  display: flex;
  animation: scroll 8s linear infinite;
  will-change: transform; /* Optimization */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%); /* Adjusted to move half the total width */
  }
}

.slide {
  flex: 0 0 auto;
  width: 150px; /* Adjust based on your content */
  margin: 0 10px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
