@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@200;400;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Bricolage Grotesque", sans-serif;
}

body {
  background: black;
}

.btn {
  @apply px-4 py-2 font-semibold border-2 border-white text-white rounded-lg;
}
